#!/bin/zsh
# THEA BACKUP SCRIPTS
# 
# Config file

# Backup volume (must have an entry in /etc/fstab)
BACKUP_VOLUME="/mnt/snapshots"

# Location of rsnapshot config file
RSNAPSHOT_CONFIG="/etc/rsnapshot.conf"

# Rsnapshot command - usually "rsnapshot"
RSNAPSHOT_CMD="rsnapshot"

# Arguments to the rsnapshot command - usually this is left blank
RSNAPSHOT_CMD_ARGS=""

# Rsnapshot backup interval - usually one of "daily", "weekly", "monthly", etc.
RSNAPSHOT_INTERVAL="daily"

# Number of snapshots for the rsnapshot interval - usually 7 or more
RSNAPSHOT_SNAPSHOTS=15

# Rsnapshot backup point tuple - usually ("/" "localhost/")
RSNAPSHOT_POINT=("/" "localhost/")

# Run a command before mounting
MOUNT_PRE_CMD=""

# Run a command after unmounting
UMOUNT_POST_CMD=""

# Run a command before backing up
BACKUP_PRE_CMD=""

# Run a command after backing up
BACKUP_POST_CMD=""

# Seconds to delay before starting backup when running in GUI
BACKUP_DELAY=5

# Seconds to display informational messages for when running in GUI
INFO_DELAY=1

# Suspend command - "systemctl" if using systemd
SUSPEND_CMD="systemctl"

# Arguments of suspend command - "suspend" if using systemd
SUSPEND_CMD_ARGS="suspend"

# Poweroff command - "systemctl" if using systemd
POWEROFF_CMD="systemctl"

# Arguments of poweroff command - "poweroff" if using systemd
POWEROFF_CMD_ARGS="poweroff"

# X terminal command - usually "xterm"
TERMINAL_CMD="xterm"

# Arguments of X terminal command - usually left blank
TERMINAL_CMD_ARGS=""
